apiVersion: apps/v1
kind: Deployment
metadata:
  name: back-deployment
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: backend-api
        env:
        - name: ENV
          value: "development"
        - name: DEBUG
          value: "true"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: front-deployment
spec:
  replicas: 1

